*.rs   linguist-language=Rust
*.js   linguist-language=JavaScript
*.html linguist-language=HTML
*.css  linguist-language=CSS
*.json linguist-language=JSON
*.toml linguist-language=TOML

*.json linguist-detectable=true
*.toml linguist-detectable=true
Cargo.lock linguist-language=TOML linguist-detectable=true

**/dist/** linguist-vendored=false
**/src-tauri/** linguist-vendored=false
