*.rs   linguist-language=Rust
*.js   linguist-language=JavaScript
*.html linguist-language=HTML
*.css  linguist-language=CSS
*.json linguist-language=JSON
*.toml linguist-language=TOML

*.json linguist-detectable=true
*.toml linguist-detectable=true
*.json linguist-generated=false
*.toml linguist-generated=false
Cargo.lock linguist-language=TOML linguist-detectable=true linguist-generated=false

**/dist/** linguist-vendored=false
**/src-tauri/** linguist-vendored=false
